body{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    line-height: 1.6em;
    font-size: 12px;
    text-align: left;
    overflow-x: hidden;
    background: rgb(247, 194, 130);
}

#container{
    position: absolute;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    top: 0;
    left: 0;
    right: 0;
    width: calc(225px + 80px + 400px + (25px * 2) + ((400px + (25px * 2)) * 0.025) + 80px + 120px);
}

#universo{
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    width: 225px;
}

.florzinha{
    display: flex;
}

.rosa{
    width: 100px;
}

.catito{
    display: block;
    margin: auto;
    max-width: 100%;
}

.cha{
    align-self: center;
    -webkit-align-self: center;
}

.chazinho{
    display: flex;
    margin-left: 20px;
    padding-bottom: 10px;
}

.welcome{
    margin-top: 20px;
    width: inherit;
    background-color: #fad6ab;
    box-shadow: 6px 6px #f6e3e3;
    display: block;
}

.welcometo{
    border: 1px solid #eab499;
    padding: 5px 5px 0px 5px;
}

.welcomeby{
    border: 1px solid #eab499;
    padding: 5px;
    overflow: auto;
    margin-bottom: 5px;
}

.wellbox{
    float: left;
    margin-top: 2.5px;
    width: calc(100% - 50px);
    font-family: silkscreen;
    font-size: 9px;
    color: #915c1c;
    line-height: 1em;
    max-height: 1em;
    overflow: hidden;
}

.bw{
    position: absolute;
    white-space: nowrap;
}

.menu{
    margin-top: 20px;
}

.nuvem{
    display: flex;
    margin-bottom: calc(10px + 2px);
}

.it{
    box-shadow: 5px 6px #f6e3e3;
}

.of{
    margin-left: calc(5px + 5px);
    box-shadow: 6px 6px #f6e3e3;
}

.it, .of{
    margin-top: 10px;
    width: calc((100% / 2) - 23px);
    padding: 3px 8px;
    background: #F6F6F6;
    border: 1px solid #f7c282;
    font-family: silkscreen;
    font-size: 9px;
    color: #F2992E;
    line-height: 2em;
    text-align: center;
    cursor: pointer;
}

#post{
    margin-left: calc(225px + 80px);
}

.postagem{
    overflow: hidden;
    margin-bottom: 45px;
    width: 400px;
    min-width: 210px;
    padding: 25px;
    border-radius: 20px;
    background-color: #fad6ab;
    border: 1px solid #f3d7d7;
    box-shadow: calc((400px + (25px * 2)) * 0.025) calc((400px + (25px * 2)) * 0.025) #f6e3e3;
}

.info{
    padding: 5px;
    border: 1px solid #f3d7d7;
    font-family: silkscreen;
    font-size: 9px;
    color: #ec5a5a;
    line-height: 1em;
    overflow: auto;
}

.content{
    margin-top: 0px;
    padding-top: 25px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
